@model MySkills.Models.AboutMe

<div>
    <div class="resume-header">
        <h1 class="resume-title">О СЕБЕ</h1>
        <p class="lead resume-description">Кратко о себе:</p>
    </div>

    <div class="resume-text">
        <p>@Model.Description</p>
    </div>
</div>
