@model MySkills.Models.AboutMe

<div>
    <div class="resume-header">
        <h1 class="resume-title">@Resources.AboutMeView.AboutMeTitle</h1>
        <p class="lead resume-description">@Resources.AboutMeView.AboutMeDescription</p>
    </div>

    <div class="resume-text">
        <p>@Model.Description</p>
    </div>
</div>
