@model MySkills.Models.AboutMe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>О СЕБЕ</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="theme.css" rel="stylesheet">
    <link href="~/Content/ResumeStyles.css" rel="stylesheet">
</head>
<body>

    @Html.Partial("NavBarView")

    <div class="container theme-showcase" role="main">
        <div>
            <div class="resume-header">
                <h1 class="resume-title">О СЕБЕ</h1>
                <p class="lead resume-description">Кратко о себе:</p>
            </div>

            <div class="well">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</body>
</html>
