@model MySkills.Models.Education


<div class="resume-header">
    <h1 class="resume-title">ОБРАЗОВАНИЕ</h1>
    <p class="lead resume-description">Моё высшее образование:</p>
</div>

<table border="0" class="resume-text">
    <tr>
        <td><b>@Model.GetEducationRange()</b></td>
        <td><b>@Model.University</b></td>
    </tr>
    <tr>
        <td colspan="2"><p>@Model.Diplom</p></td>
    </tr>
</table>
