@model MySkills.Models.SkillsAndAbilities

<div class="container theme-showcase" role="main">
    <div>
        <div class="resume-header">
            <h1 class="resume-title">УМЕНИЯ И НАВЫКИ</h1>
            <p class="lead resume-description">Тут перечислены технологии с которыми я работал:</p>
        </div>

        <div class="container resume-text" >
            <ul>
            @foreach (var skill in @Model.Skills)
            {
                <li>
                    <p>@skill.Name</p>
                    @if (skill.SubSkills.Any())
                    {
                        foreach (var subSkill in skill.SubSkills)
                        {
                            <p><small>@string.Format("\t{0};", subSkill)</small></p>
                        }
                    }
                </li>
            }
            </ul>
        </div>
    </div>
</div>
