@model MySkills.Models.TargetDescription

<div class="container theme-showcase" role="main">
    <div class="resume-header">
        <h1 class="resume-title">@Resources.TargetDescriptionView.Title</h1>
        <p class="lead resume-description">@Resources.TargetDescriptionView.Description</p>
    </div>
        
    <div class="resume-text">
        <p>@Model.Target</p>
    </div>
</div>

