@model MySkills.Models.TargetDescription

<div class="container theme-showcase" role="main">
    <div class="resume-header">
        <h1 class="resume-title">ЦЕЛЬ</h1>
        <p class="lead resume-description">Моя текущая цель:</p>
    </div>
        
    <div class="resume-text">
        <p>@Model.Target</p>
    </div>
</div>

